/*
Description:  Theme for Classes
Author:       Maxim Cilek
Author URI:   https://github.com/cilekm
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
/* Color scheme */
:root {
    --primary-background-color: #121212; /* 3A3335 0d0d0d */
    --secondary-background-color: #1d1d1d;
    --tertiary-background-color: #bb86fc;


    --primary-text-color: #ffffff;
    --primary-border-color: #ffffff;
}
/*


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-family: "Inter","Verdana","Arial",sans-serif;
    background-color: black;
}
*, *:before, *:after{
    box-sizing: inherit;
}

html, body {
    width: 100vw;
    min-height: 100vh;
}

/*the entire body of the html page*/
body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
	background-image: url('public/subtle_carbon_background.webp');
    background-repeat: repeat;
    background-size: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

/* a wrapper around all the actual page content this will be centered on the page*/
#wrapper {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    z-index: 0;
    overflow-x: hidden;
}

/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(0,0,0,0.6);
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li a {
    display: block;
    text-align: center;
    padding-block: 0.5em;
    text-decoration: none;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
  }

nav ul li:hover {
    background-color: rgb(204, 204, 204) !important;
}

nav ul li:hover a {
    font-weight: 600;
    color: black;
}

/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
    grid-area: header;
    padding-top: 3em;
    color: #fff;
    text-align: center;
    margin-bottom: 0.5em;
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 500;
    font-variant: small-caps;
}

header p {
    margin: 0;
    font-style: italic;
    color: #a6a6a6;
}

header img {
    object-fit: cover;
    max-width: 50%;
    border-radius: 50%;
}

img.faded-circle {
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;
}
  
  
  
  
  

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
main {
    grid-area: main;
    color: white;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 7vh;
}

main section {
    text-align: left;
    margin-inline: 1em;
}

main section span {
    padding: 1em;
}

main section p {
    font-weight: 200;
}

/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer {
    grid-area: footer;
    position: fixed;
    padding-block: 1em;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.75em;
    font-style: italic;
    background-color: rgb(0, 0, 0, 0.6);
}

/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/
h2 {
    font-size: 1.75em;
    font-weight: 300;
    text-align: center;
}

h3 {
    font-size: 1em;
    font-weight: 600;
}

h3 a {
    color: #1e90ff;
    text-decoration: none;
}
  
h3 a:visited {
    color: #6a5acd;
}
  
h3 a:hover, a:focus {
    text-decoration: underline;
    color: #104e8b; /* deeper blue on hover */
}
  

/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#contact-info {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #a6a6a6;
}
#contact-info span {
    display: block;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
}

#contact-info span p {
    text-decoration: none;
    text-align: left;
}

#interests {
    margin: 0;
    width: 100%;
}

#interests ul {
    display: flex;
    list-style-type: none;
    align-items:baseline;
    justify-content: space-evenly;
}

#interests ul li {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#interests ul li img {
    width: 50px;
}

#interests ul li p {
    font-weight: 700;
    font-variant: small-caps;

}

/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/
  

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

/* for-phone-only */
@media only screen and (max-width: 599px) {
    
}

/* for-tablet-portrait-up */
@media only screen and (min-width: 600px) {
    
}

/* for-tablet-portrait-only */
@media only screen and (min-width: 600px) and (max-width: 899px) {
    
}

/* for-tablet-landscape-up */
@media only screen and (min-width: 900px) {

}

/* for-tablet-landscape-only */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
    
}

/* for-desktop-up */
@media only screen and (min-width: 1200px) {
    header span p {
        font-size: 1.5em;
    }
    nav ul li a {
        font-size: 1em;
    }
    #wrapper {
        padding-bottom: 2em;
    }
    main section {
        justify-self: center;
        max-width: 60%;
    }
    footer {
        font-size: 1em;
    }

    #interests svg {
        width: 15em;
        height: auto;
    }
}

/* for-desktop-only */
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
    
}

/* for-big-desktop-up */
@media only screen and (min-width: 1800px) {
    
}